html,
div,
body,
dl,
dd,
ul,
ol,
p,
form,
input,
textarea,
button,
th,
td {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    box-sizing: border-box;
}

img,
iframe {
    border: 0;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

ol,
ul,
li {
    list-style: none outside none;
}

em,
strong,
i {
    font-style: normal;
    font-weight: bold
}


/*input 去掉chrome选中input时的外边框*/

input,
a,
button,
textarea {
    outline: none;
    border: 0;
    text-decoration: none;
}

a {
    display: inline-block;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    max-width: 750px;
    margin: 0 auto;
    overflow-x: hidden;
}


/*vue 初始隐藏*/

[v-cloak] {
    display: none
}

html {
    font-size: calc(100vw / 7.5);
    color: #333;
    background: #fff;
}

body {
    min-height: 100vh;
    font-size: .28rem;
}

/*fastclick.js 下设置label内任何元素 pointer-events: none; 针对ios系统使用fastclick.js去除300ms延迟导致对单选以及多选框选择异常************************************************* */

label>* {
    pointer-events: none;
}

/* ---- */

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis2 {
    /*! autoprefixer: ignore next */
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-ellipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    /*! autoprefixer: ignore next */
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (print),
(prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .15s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}